{% extends "default.html" %}

{% block title %}<h1>FAQ</h1>{% endblock %}

{% block main %}
<h2><a id="how">How Does It Work?</a></h2>

<p>Meaningless is a <a href="https://chrome.google.com/webstore/detail/meaningless/gmmhpelpfhlofjjolcegdddjadkmincn">Chrome Extension</a>that attempts to charachterize the tag-name or custom element name, microformat type, schema.org type, and ARIA role of the elements users encoutner on the web. This site collects and reports aggregate information about these elements.</p>

<p>Whenever a user with the extension visits a document, all of the elements are analyized to determine their type. This data is aggregated and saved. Once an hour the Meaningless extension checks in with the reporting service and uploads anonymous, aggregate statistics about the total number of elements seen, their classificiations, and breakdowns of the most common types of semantics. None of this is traceable to an individual, and no personally identifiable information is collected or logged (insofar as AppEngine enables disabling of logging). No information beyond semantic composition of individual elements on pages is reported about the sites you visit. No URLs are logged and no session is leaked.</p>

<h2><a id="why">Why Is This Data Important?</a></h2>

<p>Every <a href="https://developer.mozilla.org/en-US/docs/HTML/Element">HTML element</a> has some meaning, even if it's to denote that a block of content doesn't have a well-understood pre-defined meaning (e.g. <a href="https://developer.mozilla.org/en-US/docs/HTML/Element/div"><code>&lt;div&gt;</code></a>).</p>

<p>As the web has evolved, side-contracts have become a common way for developers, search engines, and assistive technologies (like <a href="http://www.nvda-project.org/">screen readers</a>) to produce and consume information about types of content for which HTML doesn't yet include nouns. The most prominent of these are <a href="http://www.w3.org/TR/wai-aria-primer/">WAI-ARIA</a>, <a href="http://microformats.org/about">Microformats</a>, and <a href="http://schema.org/">Schema.org</a>.</p>

<p>Web crawlers understand some of these side-contracts, but tend to gather a one-time snapshot of a page. Since most crawlers don't run JavaScript yet they miss any additional semantics added by scripts over the lifetime of pages and applications. The result is that the tools that researchers and designers use to inform debates about the future of the web platform are often based on a shallow, incomplete version of the web; one which lacks the richness and depth of the real world.</p>

<p>Meaningless is an attempt to fill in this picture, to add color, and to give a view to the true richness and diversity of elements and meaning that is already being poured into today's web but which is not often visible to those attempting to chart it's future course. You can help enrich this picture further by <a href="https://chrome.google.com/webstore/detail/meaningless/gmmhpelpfhlofjjolcegdddjadkmincn">installing the extension</a>.</p>

<h2><a id="slow">Will Meaningless Slow Down My Web Browsing?</a></h2>

<p>No.</p>

<p>The extension has been carefully architected not to impact page loading or affect
overall browsing performance. Yes, it must do some work to charachterize the
elements on pages, but it uses several techniques to ensure good performance,
even for the tab-collecting among us:</p>

<ul>
  <li>The extension does the minimum necessary. No bloated libraries or boilerplate code; the code is tuned to do the minimum needed to charachterize the semantic content of a page.</li>
  <li>Meaningless only runs when the browser isn't doing more important work for you. Thanks to modern browser features like Mutation Observer, it can follow along as pages change over time without negatively impacting performance.</li>
  <li>Storage of aggregate statistics and uploading to the reporting service is off-loaded to a background task, keepings your tabs responsive.</li>
  <li>Communication between your tabs and the background process is throttled and messages are batched to ensure that your browsing remains responsive.</li>
</ul>

<p>As with any code that is run on each page, there *is* some cost, but thanks to
defensive coding, Meaningless shouldn't ever slow down your browsing.</p>

<h2><a id="who">Who Created Meaningless?</a></h2>

<p><a href="http://infrequently.org">Alex Russell</a>, an engineer on the Google Chrome Team, created Meanginless. It is inspired by <a href="http://httparchive.org/">Steve Souder's excellent HTTP Archive project</a></p>

<h2><a id="sponsors">Who Sponsors Meaningless?</a></h2>

<p>Meaningless is possible thanks to the support of Google. If you or your company would like to get involved, or if you just have questions about the service or extension, drop a line over at the <a href="https://github.com/slightlyoff/meaningless">Github project page</a>.</p>

{% endblock %}