<!DOCTYPE html>

<html>
  <head>
    <!--[if gte IE 9]><!-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,100italic,400"
          media="all" rel="stylesheet" type="text/css">
    <!--<![endif]-->
    <link rel="stylesheet" href="static/{{ version }}/main.css">
    <title></title>
  </head>
  <body>
    <header>
      <nav class="clear">
        <ul>
          <li>
            <a href="/trends">Trends</a>
          </li>
          <li>
            <a href="/global">Global Stats</a>
          </li>
          <li>
            <a href="/extension">Contribute</a>
          </li>
          <li>
            <a href="/privacy">Privacy</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
      <h1>{{ title | default('OH HAI') }}</h1>
    </header>
    <main>
      <p>Dolore biodiesel wolf fixie, carles retro ugh cardigan ea YOLO bushwick
      skateboard hella you probably haven't heard of them sriracha.  PBR brunch
      artisan id, farm-to-table VHS synth occaecat  labore bicycle rights master
      cleanse mlkshk salvia.  Wayfarers Austin photo booth, semiotics kogi
      tumblr cosby sweater brunch vegan minim fap aesthetic portland yr
      keffiyeh.  Single-origin coffee put a bird on it try-hard ethnic.  Velit
      esse  fap twee pour-over dreamcatcher, chillwave voluptate  mollit
      intelligentsia.  Pinterest gentrify 90's, bespoke accusamus proident
      scenester marfa.  Occupy 90's mustache swag.</p>
      <p>Pinterest fugiat  non, pug american apparel meggings tattooed hashtag
      skateboard commodo put a bird on it cillum.  Disrupt keffiyeh pickled kogi
      synth, fanny pack vero nesciunt laborum bicycle rights 90's keytar post-
      ironic bushwick.  Seitan single-origin coffee thundercats, narwhal four
      loko blue bottle qui  blog. Quis semiotics aesthetic street art aliqua.
      Beard plaid irure, esse farm-to-table marfa quis.  Fugiat  fixie whatever,
      ex put a bird on it synth gentrify kogi terry richardson mcsweeney's.
      Twee disrupt blue bottle ex, ugh jean shorts small batch 3 wolf moon plaid
      proident butcher.</p>
      <p>You probably haven't heard of them vinyl tattooed, commodo letterpress
      exercitation scenester disrupt church-key echo park fanny pack adipisicing
      keytar nihil.  Mlkshk voluptate  jean shorts, street art nesciunt godard
      mollit  mixtape pitchfork PBR retro meggings deserunt  put a bird on it.
      Neutra aliqua gentrify, flexitarian retro odd future pork belly blue
      bottle occaecat  incididunt.  Marfa wayfarers butcher plaid, next level
      hashtag retro 90's fingerstache carles cillum.  Nihil retro fingerstache
      scenester intelligentsia, delectus selvage swag wolf voluptate  placeat
      letterpress assumenda deep v.  Fixie street art nisi cosby sweater,
      proident american apparel deep v banh mi gastropub pinterest mustache non
      nostrud keytar bushwick.  Locavore iphone ennui velit, nostrud deserunt
      umami four loko fugiat  selvage fingerstache.</p>
      <p>Terry richardson biodiesel narwhal, adipisicing neutra ethnic dolor
      sustainable irony cred before they sold out gluten-free retro raw denim
      leggings.  Nesciunt church-key viral williamsburg small batch, ad ennui
      try-hard portland cupidatat  polaroid eiusmod mumblecore put a bird on it
      messenger bag.  Fingerstache helvetica PBR, retro flexitarian terry
      richardson biodiesel meggings.  Cupidatat  sunt occupy incididunt
      sriracha, banksy commodo consectetur four loko in  put a bird on it magna
      artisan deep v.  Williamsburg aute  photo booth butcher cred. Ethnic ex
      craft beer, mollit  aliquip flannel et minim sriracha aliqua yr deep v.
      Craft beer hoodie brunch consectetur, laborum quinoa pitchfork plaid kogi
      american apparel sapiente fixie polaroid shoreditch.</p>
    </main>
    <footer>
    <!--
      {{ app }}, version {{ version }}
    -->
    </footer>
  </body>
</html>