{% extends "default.html" %}

{% block head %}
{% endblock %}

{% block title %}<h1>What The Web Is Made Of</h1>{% endblock %}

{% block main %}
  {{ content.start.strftime('%Y-%m-%d') }}
  &ndash;
  {{ content.end.strftime('%Y-%m-%d') }}

  <h3>Global Stats</h3>
  <table class="numberdata">
    <tbody>
      <tr>
        <td>Elements Encountered</td>
        <td>{{ content.totals.total }}</td>
      </tr>
      <tr>
        <td>Documents Visited</td>
        <td>{{ content.totals.documents }}</td>
      </tr>
      <tr>
        <td>Dynamic Page Updates</td>
        <td>{{ content.totals.updates }}</td>
      </tr>
   </tbody>
  </table>

  <h3>How Semantic Is The Markup?</h3>
  <table class="numberdata">
    <tbody>
      <tr>
        <td>Unsemantic (<code>div</code>, <code>span</code>, etc.)</td>
        <td>{{ content.totals.semantics.data.unsemantic }}</td>
        <td>{{ (content.totals.semantics.data.unsemantic / content.totals.total * 100) // 1 }}%</td>
      </tr>
      <tr>
        <td>Semantic HTML (no extended semantics)</td>
        <td>{{ content.totals.semantics.data.native }}</td>
        <td>{{ (content.totals.semantics.data.native / content.totals.total * 100) // 1 }}%</td>
      </tr>
      <tr>
        <td>Augmented Semantic HTML  (HTML + MF/S.O/ARIA/WC)</td>
        <td>{{ content.totals.semantics.data.semanticAugmented }}</td>
        <td>{{ (content.totals.semantics.data.semanticAugmented / content.totals.total * 100) // 1 }}%</td>
      </tr>
     </tbody>
  </table>

  <h3>What Are HTML Semantics Augmented With?</h3>
  <table class="numberdata">
    <tbody>
      <tr>
        <td>WAI-ARIA</td>
        <td>{{ content.totals.ariaItems.total }}</td>
        <td>{{ (content.totals.ariaItems.total / content.totals.total * 100) // 1 }}%</td>
      </tr>
      <tr>
        <td>Microformats</td>
        <td>{{ content.totals.microformatItems.total }}</td>
        <td>{{ (content.totals.microformatItems.total / content.totals.total * 100) // 1 }}%</td>
      </tr>
      <tr>
        <td>Schema.org</td>
        <td>{{ content.totals.schemaDotOrgItems.total }}</td>
        <td>{{ (content.totals.microformatItems.total /  content.totals.total * 100) // 1 }}%</td>
      </tr>
      <tr>
        <td>Web Components</td>
        <td>{{ content.totals.webComponentItems.total }}</td>
        <td>{{ (content.totals.webComponentItems.total /  content.totals.total * 100) // 1 }}%</td>
      </tr>
     </tbody>
  </table>


  <h3>The Most Common Semantic HTML Elements</h3>
  <table class="numberdata">
    <tbody>
      {% for key, value in content.totals.nativeSemanticItems.data|dictsort(by='value')|reverse  %}
      {%- if loop.index >= 10 %}{% break %}{% endif %}
      <tr>
        <td><code>&lt;{{ key }}&gt;</code></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>The Most Common WAI-ARIA Roles</h3>
  <table class="numberdata">
    <tbody>
     {% for key, value in content.totals.ariaItems.data|dictsort(by='value')|reverse %}
     {%- if loop.index >= 10 %}{% break %}{% endif %}
      <tr>
        <td><code>{{ key }}</code></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
   </tbody>
  </table>

  <h3>The Most Common Microformats</h3>
  <table class="numberdata">
    <tbody>
     {% for key, value in content.totals.microformatItems.data|dictsort(by='value')|reverse %}
     {%- if loop.index >= 10 %}{% break %}{% endif %}
      <tr>
        <td><code>{{ key }}</code></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>The Most Common Schema.org Types</h3>
  <table class="numberdata">
    <tbody>
     {% for key, value in content.totals.schemaDotOrgItems.data|dictsort(by='value')|reverse %}
     {%- if loop.index >= 10 %}{% break %}{% endif %}
      <tr>
        <td><code>{{ key }}</code></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>The Most Common Web Components</h3>
  <table class="numberdata">
    <tbody>
     {% for key, value in content.totals.webComponentItems.data|dictsort(by='value')|reverse %}
     {%- if loop.index >= 10 %}{% break %}{% endif %}
      <tr>
        <td><code>{{ key }}</code></td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- FIXME: *sigh*...make async. -->
  <!--
  <script defer src="/static/{{ version }}/d3/d3.v3.min.js"></script>
  <script defer src="/static/{{ version }}/graphing.js"></script>
  <script defer >
    graphData({{ json }});
  </script>
  -->

  {{ error }}
{% endblock %}